#gridContainer {
    border: 5px solid black;
    width: 600px;
    height: 600px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 0px;
}

button {
    margin: 10px;
}