.gridContainer {
    width: 600px; /* Set a fixed width for the container */
    height: 600px; /* Set a fixed height for the container */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    background-color: blueviolet;
}
